{% extends "_layouts/base.html" %}

{% import 'macros.html' as macros %}

{% block title %}Users | {{ config.EVE.auth_name }}{% endblock %}

{% block content %}
<div class="admin-users row">
    <div class="col-md-12">
        <h1><i class="fa fa-fw fa-users"></i> Users</h1>
        <hr/>
    </div>
    <div class="col-md-12">
        <form class="form-inline" action="{{ url_for('AdminView:users') }}">
            <div class="form-group">
                <label for="name">User ID</label>
                <input type="text" name="user_id" class="form-control input-sm" value="{{ user_id if user_id else '' }}">
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control input-sm" value="{{ name if name else '' }}">
            </div>
            <div class="form-group">
                <label for="corporation">Corporation</label>
                <input type="text" name="corporation" class="form-control input-sm" value="{{ corporation if corporation else '' }}">
            </div>
            <div class="form-group">
                <label for="alliance">Alliance</label>
                <input type="text" name="alliance" class="form-control input-sm" value="{{ alliance if alliance else '' }}">
            </div>
            <div class="form-group">
                <label for="alliance">Status</label>
                <select class="form-control input-sm" name="status" id="status">
                    <option value="any">Any</option>
                    {% for elem in CharacterStatus %}
                    <option value="{{ elem.name }}" {% if status == elem.name %}selected{% endif %}>{{ elem.value }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-sm" type="submit"><i class="fa fa-fw fa-filter"></i></button>
            </div>
            <hr>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Corporation</th>
                    <th>Alliance</th>
                    <th>Status</th>
                    <th>Registered</th>
                    <th class="text-right">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users.items %}
                    <tr>
                        <td>{{ user.user_id }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.main_character.corporation_name }}</td>
                        <td>{{ user.main_character.alliance_name }}</td>
                        <td>{{ user.get_status().value}}</td>
                        <td>{{ user.created_on|humanize }}</td>
                        <td class="text-right"><a class="btn btn-info btn-xs" href="{{ url_for('AdminView:admin_user', user_id=user.user_id) }}"><i class="fa fa-fw fa-eye"></i> View</a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No users found...</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination pull-right">
            {% if users.has_prev %}
            <li><a href="{{ url_for('AdminView:users', page=users.prev_num, user_id=user_id, name=name, corporation=corporation, alliance=alliance, status=status) }}">&laquo;</a></li>
            {% endif %}
            {%- for page in users.iter_pages() %}
                {% if page %}
                    {% if page != users.page %}
                        <li><a href="{{ url_for('AdminView:users', page=page, user_id=user_id, name=name, corporation=corporation, alliance=alliance, status=status) }}">{{ page }}</a></li>
                    {% else %}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {% endif %}
                {% else %}
                    <li><a href="#">...</a></li>
                {% endif %}
            {% endfor %}
            {% if users.has_next %}
                <li><a href="{{ url_for('AdminView:users', page=users.next_num, user_id=user_id, name=name, corporation=corporation, alliance=alliance, status=status) }}">&raquo;</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
