{% extends "_layouts/base.html" %}

{% from 'macros.html' import group_icon %}
{% import 'macros.html' as macros %}

{% block title %}Groups | {{ config.EVE.auth_name }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1><i class="fa fa-group fa-fw"></i> Groups</h1>
            <hr/>
        </div>
    </div>
    <div class="row groups-filter">
        <div class="col-md-6">
            <form action="{{ url_for('GroupsView:index') }}">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" value="{{ query if query else '' }}" placeholder="Search groups">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search fa-fw"></i>Search</button>
                    </span>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a href="{{ url_for('GroupsView:index', filter='all') }}" class="btn btn-primary">All groups</a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('GroupsView:index', filter='member') }}" class="btn btn-success">My groups</a>
                </div>
                <div class="btn-group">
                    <a href="{{ url_for('GroupsView:index', filter='pending') }}" class="btn btn-info">My pending groups</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row groups-list">
        <div class="col-md-12">
            <ul class="list-inline">
                <li><i class="fa fa-fw fa-eye"></i> Public group</li>
                <li><i class="fa fa-fw fa-eye-slash"></i> Hidden group</li>
                <li><i class="fa fa-fw fa-question"></i> Private group <small>(application needed)</small></li>
                <li><i class="fa fa-fw fa-exclamation"></i> Invitation <small>(attention needed)</small></li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="list-group">
                {% for group in groups %}
                    {% if current_user.has_invite_from(group) %}
                        <a class="list-group-item list-group-item-info js-decide-invitation" href="#" data-group={{ group.id }} data-name="{{ group.name }}">
                            <h4 class="list-group-item-heading"><i class="fa fa-fw fa-exclamation"></i>{{ group.name }} {% if group.public_members %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}<small><span class="label label-success">You have been invited</span></small></h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% elif group.get_type() == GroupType.hidden and current_user.is_member_of(group) %}
                        <a class="list-group-item list-group-item-success" href="{{ url_for('GroupsView:get', name=group.name) }}">
                            <h4 class="list-group-item-heading">{{ group_icon(group) }}{{ group.name }} {% if group.public_members or current_user.is_admin() %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}</h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% elif current_user.has_applied_to(group) %}
                        <a class="list-group-item list-group-item-info" href="{{ url_for('GroupsView:get', name=group.name) }}">
                            <h4 class="list-group-item-heading">{{ group_icon(group) }}{{ group.name }} {% if group.public_members or current_user.is_admin() %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}</h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% elif current_user.is_member_of(group) %}
                        <a class="list-group-item list-group-item-success" href="{{ url_for('GroupsView:get', name=group.name) }}">
                            <h4 class="list-group-item-heading">{{ group_icon(group) }}{{ group.name }} {% if group.public_members or current_user.is_admin() %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}</h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% elif current_user.is_admin() %}
                        <a class="list-group-item" href="{{ url_for('GroupsView:get', name=group.name) }}">
                            <h4 class="list-group-item-heading">{{ group_icon(group) }}{{ group.name }} {% if group.public_members or current_user.is_admin() %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}</h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% elif group.get_type() == GroupType.private %}
                        <a class="list-group-item" href="{{ url_for('GroupsView:apply', name=group.name) }}">
                            <h4 class="list-group-item-heading">{{ group_icon(group) }}{{ group.name }} {% if group.public_members or current_user.is_admin() %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}</h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% elif group.get_type() != GroupType.hidden %}
                        <a class="list-group-item js-join-group" href="#" data-group={{ group.id }} data-name="{{ group.name }}">
                            <h4 class="list-group-item-heading">{{ group_icon(group) }}{{ group.name }} {% if group.public_members or current_user.is_admin() %}<small>{{ group.members.count() }} {{ 'member'|pluralize(group.members.count()) }}</small>{% endif %}</h4>
                            <p class="list-group-item-text">{{ group.description }}</p>
                        </a>
                    {% endif %}
                {% else %}
                    <div class="list-group-item">There is no groups to display...</div>
                {% endfor %}
                {% if current_user.is_admin() %}
                    <a href="#new_group" class="list-group-item" data-toggle="modal" data-target="#new-group"><i class="fa fa-plus fa-fw"></i> New Group</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if current_user.is_admin() %}
    <div class="modal fade" id="new-group">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New group</h4>
            </div>
            {% call macros.render_form(new_group_form, action_url=url_for('GroupsView:new_group'), action_text='<i class="fa fa-check fa-fw"></i> Submit', class_='form-horizontal', btn_class='btn btn-block btn-success') %}
                <div class="modal-body">
                    {{ macros.render_field(new_group_form.name, placeholder='Name', horizontal=True) }}
                    {{ macros.render_field(new_group_form.description, placeholder='Description', horizontal=True) }}
                    {{ macros.render_field(new_group_form.type, horizontal=True) }}
                    {{ macros.render_checkbox_field(new_group_form.public_members, horizontal=True) }}
                </div>
                <div class="modal-footer">
            {% endcall %}
            </div>
        </div>
    </div>
    </div>
    {% endif %}
    <div class="modal fade" id="join-group">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Join group <span class="js-group-name"></span></h4>
                </div>
                {% call macros.render_form(new_group_form, action_url=url_for('GroupsView:join'), action_text='<i class="fa fa-check fa-fw"></i> Join', class_='form-horizontal', btn_class='btn btn-block btn-success') %}
                    <div class="modal-body">
                        <input type="hidden" name="group_id"/>
                        <p>Do you wish to join the group <span class="js-group-name"></span>?</p>
                    </div>
                    <div class="modal-footer">
                {% endcall %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="decide-invitation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">You have been invited to <span class="js-group-name"></span></h4>
                </div>
                <form action="{{ url_for('GroupsView:decide_invitation') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="modal-body">
                        <input type="hidden" name="group_id"/>
                        <p>Do you wish to join the group <span class="js-group-name"></span>?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="choice" value="no" class="btn btn-danger"><i class="fa fa-fw fa-times"></i> Decline</button>
                        <button type="submit" name="choice" value="yes" class="btn btn-success"><i class="fa fa-fw fa-check"></i> Accept</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $(function() {
            $('.js-join-group').on('click', function(e) {
                e.preventDefault()
                $('input[name=group_id]').val($(this).data('group'))
                $('#join-group span.js-group-name').text($(this).data('name'))
                $('#join-group').modal('show')
            })
            $('.js-decide-invitation').on('click', function(e) {
                e.preventDefault()
                $('input[name=group_id]').val($(this).data('group'))
                $('#join-group span.js-group-name').text($(this).data('name'))
                $('#decide-invitation').modal('show')
            })
        })
    </script>
{% endblock %}
