{% extends "_layouts/base.html" %}

{% import 'macros.html' as macros %}

{% block content %}
<div class="register-characters row">
    <div class="register-header col-md-6 col-md-offset-3">
        <div class="text-center">
                <img src="https://image.eveonline.com/Character/{{ character.id }}_256.jpg" alt="" class="img-circle" width="128px"/>
                <h3>Registering <strong>{{ character.name }}</strong></h3>
            </div>
        <hr>
    </div>
    <div class="register-messages col-md-6 col-md-offset-3">
        {% for message in Message.display_for('register') %}
            {{ message }}
        {% endfor %}
    <div class="alert alert-info">Last step! We just need a password <strong>(do not use the same as your Eve Online account)</strong> and an email for recovery purposes.</div>
    </div>
    <div class="register-box col-md-6 col-md-offset-3">
        <div class="well">
            {% call macros.render_form(form, action_url=url_for('RegisterView:password'), action_text='<i class="fa fa-check fa-fw"></i> Create account', class_='register-member-form', btn_class='btn btn-block btn-success') %}
                {{ macros.render_field(form.user_id, label_visible=False, readonly=True, addon='<i class="fa fa-user fa-fw"></i> Your username will be') }}
                {{ macros.render_field(form.email, label_visible=False, placeholder='Email', addon='<i class="fa fa-envelope-o fa-fw"></i>') }}
                {{ macros.render_field(form.password, label_visible=False, placeholder='Password', addon='<i class="fa fa-lock fa-fw"></i>') }}
                {{ macros.render_field(form.confirm, label_visible=False, placeholder='Password confirmation', addon='<i class="fa fa-lock fa-fw"></i>') }}
            {% endcall %}
        </div>
    </div>
</div>
{% endblock %}
