<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#newauth-nav">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('AccountView:index') }}">
                {{ config.EVE.auth_name }} <i class="fa fa-key"></i> Auth
            </a>
        </div>
        <div class="collapse navbar-collapse" id="newauth-nav">
            <ul class="nav navbar-nav">
                {% if current_user.is_authenticated() %}
                    <li><a href="{{ url_for('AccountView:index') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li><a href="{{ url_for('AccountView:profile') }}"><i class="fa fa-user"></i> Account</a></li>
                    <li><a href="{{ url_for('GroupsView:index') }}"><i class="fa fa-group"></i> Groups</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Pings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('PingsView:history') }}"><i class="fa fa-calendar-o"></i> History</a></li>
                            <li><a href="{{ url_for('PingsView:new') }}"><i class="fa fa-plus"></i> Send ping</a></li>
                            <li><a href="{{ url_for('PingsView:settings') }}"><i class="fa fa-cog"></i> Settings</a></li>
                        </ul>
                    </li>
                    {% if current_user.is_admin() %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cogs"></i> Administration <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('AdminView:users') }}"><i class="fa fa-users"></i> Users</a></li>
                            </ul>
                        </li>
                    {% endif %}
                {% else %}
                    <li><a href="{{ url_for('AccountView:login') }}"><i class="fa fa-sign-in"></i> Login</a></li>
                {% endif %}
            </ul>
            {% if current_user.is_authenticated() %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{ current_user.name }}</a></li>
                <li><a href="{{ url_for('AccountView:logout') }}"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
