{% extends "_layouts/base.html" %}

{% import 'macros.html' as macros %}

{% block title %}Ping settings | {{ config.EVE.auth_name }}{% endblock %}

{% block content %}
<div class="ping-settings row">
    <div class="col-md-12">
        <div class="alert alert-warning"><i class="fa fa-warning"></i> Pings can be sent any day, any hour. Make sure to configure your device properly so it does not wake you up in the middle of the night.</div>
        <h1><i class="fa fa-fw fa-cog"></i> Ping settings</h1>
        <hr/>
    </div>
    <div class="col-md-12">
        {% for pinger in pingers.itervalues() %}
        <div class="panel panel-turquoise">
            <div class="panel-heading">
                <h3 class="panel-title">{{ pinger.display_name }}</h3>
            </div>
            <div class="panel-body">
                <p>{{ pinger.description|markdown|safe }}</p>

                {% with %}
                    {% set form = pinger.get_form(configurations[pinger.name]) %}
                    {% if form %}
                        {{ macros.render_form(form, action_url=url_for('PingsView:save_settings', pinger_name=pinger.name), action_text='<i class="fa fa-check fa-fw"></i> Submit', btn_class='btn btn-sm btn-primary') }}
                    {% endif %}
                {% endwith %}
                <form class="form-horizontal" action="">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {% for setting in pinger.configuration %}
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="{{ setting[0] }}">{{ setting[1] }}</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="{{ setting[0] }}">
                                <span class="help-block">{{ setting[2]|markdown|safe }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="panel-footer clearfix">
                {% if pinger.immutable %}
                <span class="pull-right text-muted">This pinger cannot be disabled.</span>
                {% elif pinger.enabled %}
                <div class="btn-group pull-right">
                    <button class="btn btn-sm btn-danger" disabled><i class="fa fa-fw fa-times"></i> Disable</button>
                </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
